{% extends "layouts/app.html" %}

{% block content %}
    <div class="container">
        <h1 class="mt-3">Book's list</h1>
        <hr class="border border-primary border-1 opacity-75" />

        <div class="row">
            <div class="col-xs-12 mb-3 text-end">
                {% if perms.books.add_book %}
                <a href="{% url 'books:form' %}" class="btn btn-success">Aggiungi Libro</a>
                {% endif %}
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Titolo</th>   
                            <th>Autore</th>   
                            <th>Anno</th>   
                            <th>Prezzo</th>   
                            <th>Azioni</th>   
                        </tr>
                    </thead>
                    <tbody>
                        {% for book in books %}
                            <tr>
                                <td>{{book.title}}</td>
                                <td>{{book.author.surname}} {{book.author.name}}</td>
                                <td>{{book.year}}</td>
                                <td>{{book.price}}</td>
                                <td>
                                    <a class="btn btn-sm btn-primary" href="{% url 'books:details' book.id %}">Visualizza</a>
                                    {% if perms.books.change_book %}
                                         <a class="btn btn-sm btn-warning" href="{% url 'books:form' book.id %}">Modifica</a>
                                        
                                    {% endif %}
                                    {% if perms.books.delete_book %}
                                        <button class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#modalDeleteBook{{book.id}}">Elimina</button>
                                        <div class="modal fade" id="modalDeleteBook{{book.id}}">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5">Eliminazione {{book.title}}</h1>
                                                        <button class="btn-close" data-bs-dismiss="modal"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Sei sicuro di voler eliminare il libro {{book.title}}?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
                                                        <form method="POST" action="{% url 'books:delete' book.id %}" class="d-inline">
                                                            {% csrf_token %}
                                                            <button type="submit" class="btn btn-danger">Elimina</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> 
                                    {% endif %}

                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}